header {
    background-color: #da1a29;
    text-align: center;
    padding: 10px 20px;
}

body {
    background-color: #eb9c4d;
}

a {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 8px;
     font-size: 16px;
     cursor: pointer;
     transition: 0.0s;
}

/* Efecto al poner el mouse encima */
a:hover {
    background-color: #eb9c4d;
    transform: scale(1.15);
    border-style: none;
}

/* Barra de Navegacion */
nav ul {
    list-style: none;
    background-color: #000511;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.remo {
    text-align: center;
}

.rema {
    text-align: center;
}

