.card {
    background-color: #f2502c;
    font-family: 'Times New Roman'
}

.G {
    background-color: #000511;
    text-align: center;
    color: #eb9c4d;
}

.C {
    background-color: #eb9c4d;
    text-align: center;
    color: #000000;
}

.center {
    display: block;
    margin: auto;
}

body {
    background-color: #eb9c4d;
}

/* Barra de Navegacion */
nav ul {
    list-style: none;
    background-color: #000511;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 14px 20px;
    font-family: 'serif';
}

nav ul li a {
    color: #000511;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: Url(https://media.istockphoto.com/id/1447028144/es/vector/patr%C3%B3n-sin-costuras-con-empanadas-mexicanas-sobre-fondo-blanco-con-chiles-ilustraci%C3%B3n.jpg?s=612x612&w=0&k=20&c=1HpJIgLtY-aktba4FjkD7JtgQe3wFHdQYVC9roX7orE=) no-repeat center center/cover;
    color: #000511;
    text-align: center;
    padding: 5rem 2rem;
    position: relative;
}

a {
     background-color: white;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 8px;
     font-size: 16px;
     cursor: pointer;
     transition: 0.0s;
}


/* Efecto al poner el mouse encima */
.mi-boton:hover {
    background-color: #eb9c4d;
    transform: scale(1.15);
    border-style: none;
}

p {
    text-align: center;
    color: #000000;
}

